---
  import 'virtual:windi.css';
  import { AboutSean } from "../components/AboutSean.tsx"
  import Home from "../layouts/Home.astro"
  import avatarImg from "./avatar.jpeg"


  const twitterUrl = new URL(`https://twitter.com/seanay3`)
  const githubUrl = new URL(`https://github.com/seanaye`)
  const linkedinUrl = new URL(`https://www.linkedin.com/in/sean-aye-5a1036114/`)


  const emoji = `🇨🇦`
  const description = `
Hi! My name is Sean Aye, I'm a ${emoji} software engineer who builds world class web apps for small businesses at small business prices. 
Delivery services taking all your revenue? Content getting taken down from social media?`

---
<Home description={description} >
  <AboutSean {...{description, avatarImg, twitterUrl, githubUrl, linkedinUrl}}>
    <a href="/book"
      class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Let's Chat</a>
  </AboutSean>
</Home>

