---
import Home from "../../layouts/Home.astro"

const description = `Book a free 15-minute call to discuss your Web App development needs`
---
<Home description={description}>
  <div class="rounded p-4 bg-white z-10">booking page </div>
</Home>
